<div id="myForm"> 

        
    <form [formGroup]="loginForm" (ngSubmit)="loginData()">
        
        <div class="center">
            <h1>New User Section</h1><br>
            <div class="fname">
                <label for="fname">TELL US YOUR NAME</label>
                <input type="text" id="fname" formControlName="fname" placeholder="ENTER YOUR NAME">
            </div>
            <div class="lname">
                <label for="lname">TELL US YOUR LAST NAME</label>
                <input type="text" id="lname" formControlName="lname" placeholder="ENTER YOUR LASTNAME">
               
            </div>
            <div class="email">
                <label for="email">ENTER YOUR EMAIL</label>
                <input type="email" id="email" formControlName="email" placeholder="ENTER YOUR EMAIL">   
            </div>
            <div class="pwd">
                <label for="password">password</label>
                <input type="password" id="password" formControlName="password" placeholder="abcd@1234">
            </div> 
            
            
            
            <div>
                <button type="submit" [disabled]="loginForm.invalid" value="submit">Submit</button><br>

            </div>
           
      </div>  
    </form>
    </div>
    
  
