.center{
    background-image: url("../../assets/photo-1541339907198-e08756dedf3f.jpg");
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 50px;
    box-shadow: rgb(46, 49, 1) 20px 20px 40px 40px;
    border-radius: 10px;
    
}
label{
    color: rgb(9, 13, 253);
    font-size: larger;
    font-weight:bolder;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
input[type="text"]  {
    color: rgb(29, 26, 214);
    background-color: rgb(245, 245, 234);
    font-size: medium;
    font-weight: bold; 
    width: 100%;
    height: 30px;
    display: inline-block;
    padding: 10px;
}
input[type="email"]  {
    color: rgb(29, 26, 214);
    background-color: rgb(253, 253, 253);
    font-size: medium;
    font-weight: bold; 
    width: 120%;
    height: 30px;
    display: inline-block;
    padding: 10px;
}
input[type="password"] {
    color: rgb(15, 15, 15);
    width: 100%;
    height: 30px;
    background-color: rgb(246, 249, 250);
}
button[type="submit"] {
    color: rgb(248, 245, 245);
    background-color: rgb(2, 69, 252);
    display: block;
    width: 80px;
    height: 40px;
    margin: auto;
    margin-top: 5%;
}
#myForm{
    background-color: white;
    width: 50%;
    margin: auto;
    margin-top: 10%;
    padding: 50px;
}
h2{
    text-align: center;
    font-size: 10px;
}
.name{
    width: 50%;
    display: inline-block;
}
.email{
    
    display: inline-block;
}
.sites{
    
    display: block;
    margin: auto;
}
textarea{
    width: 100%;
    height: 200px;
    resize: none;
    background-color: whitesmoke;
}
.center{
    text-align: justify;
    margin: auto;
}
h1{
    font-size: xx-large;
    font-weight: bold;
    font-style: inherit;
    color: rgb(9, 13, 245);
    font-family: fantasy;
}
textarea{
    resize: none;
}
.container{
    margin: auto;
    display: inline;

}
