<div class="body">
  <div class="card mb-3">
    <img class="card-img-top" src="../../assets/123.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">About Phoenix</h5>
      <p class="card-text">We are the largest international laguage learning institute with 2000+ aspirants and 180+ faculties. Join us today to secure your future in every section.  </p>
      <p class="card-text"><small class="text-muted">call us now: 1800 1234 1234</small></p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Our Vision</h5>
          <p class="card-text">Direct the enthusiasts to a right direction.</p>
          <a routerLink="../contact" class="btn btn-primary">Know More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Our Mission</h5>
          <p class="card-text">Running 10+ language courses with expert faculties</p>
          <a routerLink="../contact" class="btn btn-primary">Know more</a>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

  

  

