<section class="our-webcoderskull padding-lg">
    <div class="container">
      <div class="row heading heading-icon">
          <h2>Our Managing Group</h2>
      </div>
      <ul class="row">
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="../../assets/male8.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">Steven Gerard</a></h3>
              <p>Chairman and Founder</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="../../assets/male9.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="#">Baron Smith</a></h3>
              <p>Director, Co-founder and German H.O.D.</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="../../assets/male5.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">Angolo Kante</a></h3>
              <p>Asst. Director, Co-founder and French H.O.D.</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
         </li>
        <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 349px;">
              <figure><img src="../../assets/male6.jpg" class="img-responsive" alt=""></figure>
              <h3><a href="http://www.webcoderskull.com/">Harry Kane</a></h3>
              <p>T.P.O. and English H.O.D.</p>
              <ul class="follow-us clearfix">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
              </ul>
            </div>
        </li>
        <li class="col-12 col-md-6 col-lg-3">
          <div class="cnt-block equal-hight" style="height: 349px;">
            <figure><img src="../../assets/female9.jpg" class="img-responsive" alt=""></figure>
            <h3><a href="http://www.webcoderskull.com/">Susan Arthur</a></h3>
            <p>Teaching Head and Spanish H.O.D.</p>
            <ul class="follow-us clearfix">
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
          </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 349px;">
          <figure><img src="../../assets/female8.png" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Akansha Mathew</a></h3>
          <p>Asst. Placement Officer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
    </li>
    <li class="col-12 col-md-6 col-lg-3">
      <div class="cnt-block equal-hight" style="height: 349px;">
        <figure><img src="../../assets/male1.jpg" class="img-responsive" alt=""></figure>
        <h3><a href="http://www.webcoderskull.com/">Alessio Martinez</a></h3>
        <p>Course and batch Co-ordinator</p>
        <ul class="follow-us clearfix">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
  </li>
  <li class="col-12 col-md-6 col-lg-3">
    <div class="cnt-block equal-hight" style="height: 349px;">
      <figure><img src="../../assets/female7.jpg" class="img-responsive" alt=""></figure>
      <h3><a href="http://www.webcoderskull.com/">Abigelle Brown</a></h3>
      <p>Human Resource Manager</p>
      <ul class="follow-us clearfix">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
</li>
      </ul>
    </div>
  </section>
